.App {
  text-align: center;
  background-image: url('./images/church-bey.jpg');
  background-repeat: repeat;
  background-size: contain
}

button{
  background-color: rgb(3, 39, 75);
  border-radius: 5px;
  height: 30px;
  border-style: none;
  color:rgb(150, 6, 6);
  font-size: 1.5rem;
  text-align: center;
}

h1{
font-family: fantasy, Arial, Helvetica, sans-serif;
color: chartreuse;

}


a{
  text-decoration: underline;
  text-decoration-color: forestgreen;
  text-decoration-line: overline;
  color: green;
  font-weight: bold;

}

.bee-link{
text-decoration: none;
font-weight: 200;
font-size: 10px;
color:yellowgreen

}